.sp-template.sp-template-event-statistics {
	color: inherit;
}

.sp-statistic-label {
	display: block;
	text-align: center;
	clear: both;
}

.sp-statistic-value {
	vertical-align: middle;
	width: 10%;
}

.sp-statistic-ratio {
	width: 80%;
}

.sp-statistic-bar {
	height: 2em;
	background: #2b353e;
}

.sp-statistic-bar-fill {
	height: 100%;
	background: #00a69c;
}

@media screen and (min-width: 801px) {
	.sp-inline-statistics .sp-event-performance-teams .sp-template-event-performance {
		box-sizing: border-box;
		width: 30%;
	}

	.sp-inline-statistics .sp-event-performance-teams .sp-template-event-performance-combined {
		width: 60%;
	}

	.sp-inline-statistics .sp-event-performance-teams .sp-template-event-statistics {
		box-sizing: border-box;
		display: inline-block;
		width: 40%;
		padding-left: 10px;
		padding-right: 10px;
	}
}