/* SportsPress icons */
@font-face {
	font-family: 'sportspress';
	src:url('../fonts/sportspress.eot?-76nsup');
	src:url('../fonts/sportspress.eot?#iefix-76nsup') format('embedded-opentype'),
		url('../fonts/sportspress.woff2?-76nsup') format('woff2'),
		url('../fonts/sportspress.ttf?-76nsup') format('truetype'),
		url('../fonts/sportspress.woff?-76nsup') format('woff'),
		url('../fonts/sportspress.svg?-76nsup#sportspress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sp-icon-"], [class*=" sp-icon-"] {
	font-family: sportspress, dashicons;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sp-icon-baseball:before {
	content: "\e701";
}
.sp-icon-basketball:before {
	content: "\e602";
}
.sp-icon-cricketball:before {
	content: "\e604";
}
.sp-icon-soccerball:before {
	content: "\e700";
}
.sp-icon-shoe:before {
	content: "\e800";
}
.sp-icon-card:before {
	content: "\e801";
}
.sp-icon-sub:before {
	content: "\f503";
}