#adminmenu #toplevel_page_sp_settings div.wp-menu-image,
#adminmenu #menu-posts-sp_team div.wp-menu-image,
#adminmenu #menu-posts-sp_event div.wp-menu-image,
#adminmenu #menu-posts-sp_player div.wp-menu-image,
#adminmenu #menu-posts-sp_staff div.wp-menu-image,
#adminmenu #menu-posts-sp_sponsor div.wp-menu-image,
#adminmenu #menu-posts-sp_table div.wp-menu-image,
#adminmenu #menu-posts-sp_calendar div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament div.wp-menu-image,
#adminmenu #menu-posts-sp_venue div.wp-menu-image {
	background-image: url(images/menu.png);
	background-repeat: no-repeat;
}
#adminmenu #toplevel_page_sp_settings div.wp-menu-image {
	background-position: 1px -33px;
}
#adminmenu #toplevel_page_sp_settings:hover div.wp-menu-image,
#adminmenu #toplevel_page_sp_settings.wp-has-current-submenu div.wp-menu-image,
#adminmenu #toplevel_page_sp_settings.current div.wp-menu-image {
	background-position: 1px -1px;
}
#adminmenu #menu-posts-sp_team div.wp-menu-image {
	background-position: 1px -97px;
}
#adminmenu #menu-posts-sp_team:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_team.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_team.current div.wp-menu-image {
	background-position: 1px -65px;
}
#adminmenu #menu-posts-sp_event div.wp-menu-image {
	background-position: -29px -33px;
}
#adminmenu #menu-posts-sp_event:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_event.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_event.current div.wp-menu-image {
	background-position: -29px -1px;
}
#adminmenu #menu-posts-sp_player div.wp-menu-image {
	background-position: -59px -33px;
}
#adminmenu #menu-posts-sp_player:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_player.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_player.current div.wp-menu-image {
	background-position: -59px -1px;
}
#adminmenu #menu-posts-sp_staff div.wp-menu-image {
	background-position: -89px -33px;
}
#adminmenu #menu-posts-sp_staff:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_staff.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_staff.current div.wp-menu-image {
	background-position: -89px -1px;
}
#adminmenu #menu-posts-sp_table div.wp-menu-image {
	background-position: -119px -33px;
}
#adminmenu #menu-posts-sp_table:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_table.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_table.current div.wp-menu-image {
	background-position: -119px -1px;
}
#adminmenu #menu-posts-sp_calendar div.wp-menu-image {
	background-position: -149px -33px;
}
#adminmenu #menu-posts-sp_calendar:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_calendar.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_calendar.current div.wp-menu-image {
	background-position: -149px -1px;
}
#adminmenu #menu-posts-sp_tournament div.wp-menu-image {
	background-position: -179px -33px;
}
#adminmenu #menu-posts-sp_tournament:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament.current div.wp-menu-image {
	background-position: -179px -1px;
}
#adminmenu #menu-posts-sp_venue div.wp-menu-image {
	background-position: -209px -33px;
}
#adminmenu #menu-posts-sp_venue:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_venue.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_venue.current div.wp-menu-image {
	background-position: -209px -1px;
}

#poststuff #sp_kickoffdiv .inside {
	margin: 0;
	padding: 0;
}
#sp_kickoffdiv #timestampdiv p {
	display: none;
}
#sp_articlediv .wp-editor-container {
	background-color:#fff;
}
.widefat th.column-sp_icon,
.widefat td.column-sp_icon {
	width: 32px;
	text-align: center;
}

/* admin skin */
/*
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu li.wp-has-current-submenu .wp-menu-arrow, #adminmenu li.current .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div, #adminmenu li.current .wp-menu-arrow div {
	background: #0082c2 !important;
	border-color: #0082c2 !important;
}
*/