.sp-tournament-bracket td {
	padding-right: 0;
}

.sp-tournament-bracket .sp-event {
	border-right: 8px solid #fff;
}

.sp-tournament-bracket .sp-team {
	padding: 0 0 0 8px !important;
}

.sp-tournament-bracket .sp-team .sp-team-name:before {
	left: -8px;
	border-left: 5px solid #fff;
}

.sp-tournament-bracket .sp-team.sp-first-round {
	padding-left: 0 !important;
}

.sp-tournament-bracket .sp-event.sp-last-round {
	border-right: 0;
}