/* Messages */
div.sportspress-message {
	border-left-color: #00a69c !important;
}

div.sportspress-message a.button-primary,
div.sportspress-message a.button-secondary,
p.sportspress-actions input.button-primary,
p.sportspress-actions input.button-primary:active,
p.sportspress-actions a.button-primary,
p.sportspress-actions a.button-primary:active {
	background: #3bbab3;
	border-color: #15a29a;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.1);
	color: #fff;
	text-decoration: none;
}

div.sportspress-message a.button-primary:hover,
div.sportspress-message a.button-secondary:hover,
p.sportspress-actions input.button-primary:hover,
p.sportspress-actions input.button-primary:focus,
p.sportspress-actions a.button-primary:hover,
p.sportspress-actions a.button-primary:focus {
	background: #00a69c;
	border-color: #009187;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.1);
	color: #fff;
	text-decoration: none;
}

div.sportspress-message a.button-secondary {
	-moz-opacity: 0.7;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.sp-feature a {
	text-decoration: none;
}

.sp-feature p.sportspress-actions {
	margin-top: 16px;
}

.about-sportspress-wrap div.updated {
	display: block!important;
}

.about-sportspress-wrap .changelog .sportspress-steps {
	margin-top: 24px;
}

.about-sportspress-wrap .changelog .sportspress-steps li {
	line-height: 16px;
	list-style-type: none;
	margin-left: 0;
}

.about-sportspress-wrap .changelog .sportspress-steps li a {
	display: block;
	padding: 0 0 8px;
	background: transparent!important;
}

.sportspress-steps:before,
.sportspress-steps:after {
    content: " ";
    display: table;
}

.sportspress-steps:after {
    clear: both;
}

.sportspress-steps {
    *zoom: 1;
}

.sportspress-steps .welcome-icon i:before {
	color: #888;
}