#adminmenu #menu-posts-sp_team div.wp-menu-image,
#adminmenu #menu-posts-sp_event div.wp-menu-image,
#adminmenu #menu-posts-sp_player div.wp-menu-image,
#adminmenu #menu-posts-sp_staff div.wp-menu-image,
#adminmenu #menu-posts-sp_sponsor div.wp-menu-image,
#adminmenu #menu-posts-sp_table div.wp-menu-image,
#adminmenu #menu-posts-sp_list div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament div.wp-menu-image,
#adminmenu #menu-posts-sp_venue div.wp-menu-image {
	background-image: url(../images/menu.png);
	background-image: none;
	background-repeat: no-repeat;
	background-position: 1px -33px;
}
/*
#adminmenu #menu-posts-sp_team div.wp-menu-image {
	background-position: 1px -97px;
}
#adminmenu #menu-posts-sp_team:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_team.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_team.current div.wp-menu-image {
	background-position: 1px -65px;
}
*/
#adminmenu #menu-posts-sp_team div.wp-menu-image {
	background-position: 1px -33px;
}
#adminmenu #menu-posts-sp_team:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_team.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_team.current div.wp-menu-image {
	background-position: 1px -1px;
}
#adminmenu #menu-posts-sp_event div.wp-menu-image {
	background-position: -29px -33px;
}
#adminmenu #menu-posts-sp_event:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_event.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_event.current div.wp-menu-image {
	background-position: -29px -1px;
}
#adminmenu #menu-posts-sp_player div.wp-menu-image {
	background-position: -59px -33px;
}
#adminmenu #menu-posts-sp_player:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_player.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_player.current div.wp-menu-image {
	background-position: -59px -1px;
}
#adminmenu #menu-posts-sp_staff div.wp-menu-image {
	background-position: -89px -33px;
}
#adminmenu #menu-posts-sp_staff:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_staff.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_staff.current div.wp-menu-image {
	background-position: -89px -1px;
}
#adminmenu #menu-posts-sp_table div.wp-menu-image {
	background-position: -119px -33px;
}
#adminmenu #menu-posts-sp_table:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_table.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_table.current div.wp-menu-image {
	background-position: -119px -1px;
}
#adminmenu #menu-posts-sp_list div.wp-menu-image {
	background-position: -149px -33px;
}
#adminmenu #menu-posts-sp_list:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_list.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_list.current div.wp-menu-image {
	background-position: -149px -1px;
}
#adminmenu #menu-posts-sp_tournament div.wp-menu-image {
	background-position: -179px -33px;
}
#adminmenu #menu-posts-sp_tournament:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_tournament.current div.wp-menu-image {
	background-position: -179px -1px;
}
#adminmenu #menu-posts-sp_venue div.wp-menu-image {
	background-position: -209px -33px;
}
#adminmenu #menu-posts-sp_venue:hover div.wp-menu-image,
#adminmenu #menu-posts-sp_venue.wp-has-current-submenu div.wp-menu-image,
#adminmenu #menu-posts-sp_venue.current div.wp-menu-image {
	background-position: -209px -1px;
}

#sp_articlediv .wp-editor-container,
#sp_profilediv .wp-editor-container {
	background-color:#fff;
}
.sp-data-table-container {
	overflow: auto;
}
.sp-data-table td {
	line-height: 2;
}
.sp-data-table td:first-child {
	white-space: nowrap;
}
.sp-data-table input[type="text"],
.sp-data-table input[type="number"] {
	min-width: 14px;
	width: 100%;
}
.sp-config-table th,
.sp-config-table td {
	width: 20%;
}
.widefat th.column-sp_logo,
.widefat td.column-sp_logo {
	width: 32px;
	text-align: center;
}

/* admin skin */
/*
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu li.wp-has-current-submenu .wp-menu-arrow, #adminmenu li.current .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu .wp-menu-arrow div, #adminmenu li.current .wp-menu-arrow div {
	background: #0082c2 !important;
	border-color: #0082c2 !important;
}
*/