/* SportsPress admin styles */

.postbox .inside .sp-data-table-container {
	overflow: auto;
}
table.widefat.sp-data-table td {
	line-height: 2;
}
table.widefat.sp-data-table td:first-child {
	white-space: nowrap;
}
table.widefat.sp-data-table input[type="text"],
table.widefat.sp-data-table input[type="number"] {
	min-width: 1.25em;
	width: 100%;
}
table.widefat.sp-data-table input.name {
	min-width: 0;
	width: auto;
}
.sp-admin-config-table th,
.sp-admin-config-table td {
	width: 20%;
}
table.widefat th.column-sp_icon,
table.widefat td.column-sp_icon {
	width: 32px;
	text-align: center;
}

#sp_venue-adder h4,
#sp_team-adder h4,
#sp_season-adder h4,
#sp_player-adder h4,
#sp_position-adder h4 {
	margin: 10px 0;
}

.form-field .sp-location-picker {
	width: 95%;
	height: 320px;
}


@media only screen and (max-width: 768px) {

	.form-field .sp-location-picker {
		width: 99%;
	}
	.form-field td .sp-location-picker {
		width: 100%;
	}

}