/* SportsPress admin styles */

@font-face {
	font-family: 'sportspress';
	src:url('../fonts/sportspress.eot?ofuus8');
	src:url('../fonts/sportspress.eot?#iefixofuus8') format('embedded-opentype'),
		url('../fonts/sportspress.woff?ofuus8') format('woff'),
		url('../fonts/sportspress.ttf?ofuus8') format('truetype'),
		url('../fonts/sportspress.svg?ofuus8#sportspress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sportspress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
	content: "\f145";
}
.icon-shield:before {
	content: "\f334";
}
.icon-calendar:before {
	content: "\f469";
}
.icon-tshirt:before {
	content: "\f307";
}
.icon-megaphone:before {
	content: "\f155";
}

#adminmenu #toplevel_page_sportspress .menu-icon-generic div.wp-menu-image:before,
#adminmenu #menu-posts-sp_event .menu-icon-sp_event div.wp-menu-image:before,
#adminmenu #menu-posts-sp_team .menu-icon-sp_team div.wp-menu-image:before,
#adminmenu #menu-posts-sp_player .menu-icon-sp_player div.wp-menu-image:before,
#adminmenu #menu-posts-sp_sponsor .menu-icon-sp_sponsor div.wp-menu-image:before {
	font-family: sportspress, dashicons !important;
}

#sportspress_dashboard_status .inside {
	padding: 0;
	margin: 0;
}

#sportspress_dashboard_status .sp_status_list {
	overflow: hidden;
	margin: 0;
}

#sportspress_dashboard_status .sp_status_list li {
	width: 50%;
	float: left;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	border-top: 1px solid #ececec;
	color: #aaa;
}

#sportspress_dashboard_status .sp_status_list li:first-child {
	border-top: 0;
}

#sportspress_dashboard_status .sp_status_list li.countdown {
	width: 100%;
}

#sportspress_dashboard_status .sp_status_list li.events-scheduled {
	border-right: 1px solid #ececec;
}

#sportspress_dashboard_status .sp_status_list li a {
	display: block;
	color: #aaa;
	padding: 9px 12px;
	-webkit-transition: all ease .5s;
	position: relative;
	font-size: 12px;
}

#sportspress_dashboard_status .sp_status_list li a:before {
	font-family: sportspress, dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	top: 0;
	left: 0;
	height: 100%;
	text-align: center;
	content: "\f145";
	font-size: 2em;
	position: relative;
	width: auto;
	line-height: 1.2em;
	color: #464646;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}

#sportspress_dashboard_status .sp_status_list li.countdown a:before {
	content: "\f469";
}

#sportspress_dashboard_status .sp_status_list li.events-scheduled a:before,
#sportspress_dashboard_status .sp_status_list li.events-published a:before {
	color: #999;
	font-size: 2.5em;
	line-height: 1em;
	margin-left: -3px;
	margin-right: 9px;
}

#sportspress_dashboard_status .sp_status_list li.events-scheduled a:before {
	color: #ffba00;
}

#sportspress_dashboard_status .sp_status_list li.events-published a:before {
	color: #21759b;
}

#sportspress_dashboard_status .sp_status_list li strong {
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 400;
	display: block;
	color: #21759b;
}

#sportspress_dashboard_status .sp_status_list li a:hover,
#sportspress_dashboard_status .sp_status_list li a:hover strong,
#sportspress_dashboard_status .sp_status_list li a:hover:before {
	color: #2ea2cc;
}

.sportspress-message {
	border-left-color: #6bc2a5 !important;
}

.sportspress-message a.button-primary,
.sportspress-message a.button-secondary {
	background: #6bc2a5;
	border-color: #409e7f;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
}

.sportspress-message a.button-primary:hover,
.sportspress-message a.button-secondary:hover {
	background: #3bad87;
	border-color: #338a6d;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 0 rgba(0,0,0,.15);
	color: #fff;
	text-decoration: none;
}

.sportspress-message a.button-secondary {
	-moz-opacity: 0.7;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.postbox .inside .sp-data-table-container {
	overflow: auto;
}

.wp-media-buttons .button.sp-insert {
	padding-left: 5px;
}

.wp-media-buttons .sp-insert span.sp-buttons-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: text-top;
	margin: 0 2px;
}

.wp-media-buttons .sp-insert span.sp-buttons-icon:before {
	font: 400 18px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #888;
}

.wp-media-buttons .sp-insert span.sp-map-buttons-icon:before {
	content: '\f231';
}

.wp-media-buttons .sp-insert span.sp-table-buttons-icon:before {
	content: '\f185';
}

table.widefat.sp-data-table td {
	line-height: 2;
	overflow: visible;
}

table.widefat.sp-data-table td:first-child {
	white-space: nowrap;
}

table.widefat.sp-data-table input[type="text"],
table.widefat.sp-data-table input[type="number"] {
	min-width: 1.25em;
	width: 100%;
}

table.widefat.sp-data-table input.name {
	min-width: 0;
	width: auto;
}

table.widefat.sp-data-table a.dashicons {
	cursor: pointer;
	height: 27px;
	line-height: 27px;
}

table.widefat.sp-data-table a.sp-edit-name {
	-moz-opacity: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

table.widefat.sp-data-table tr:hover a.sp-edit-name {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

table.widefat.sp-league-table th input[type=checkbox] {
	margin: -4px 1px 0;
	vertical-align: middle;
}

.sp-admin-config-table th,
.sp-admin-config-table td {
	width: 20%;
}

table.widefat th.column-sp_icon,
table.widefat td.column-sp_icon {
	width: 32px;
	text-align: center;
}


table.widefat th.column-sp_number,
table.widefat td.column-sp_number {
	width: 32px;
}

table.widefat td.column-sp_number .sp-flag {
	height: auto;
	width: auto;
	max-height: 16px;
	max-width: 20px;
}

#sp_venue-adder h4,
#sp_team-adder h4,
#sp_season-adder h4,
#sp_player-adder h4,
#sp_position-adder h4 {
	margin: 10px 0;
}

.form-field .sp-location-picker {
	width: 95%;
	height: 320px;
}

.sp-prefs .button {
	margin: 0 3px 4px 0;
	padding: 0 7px 1px 5px;
}

.sp-prefs .button input[type=checkbox] {
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sp-prefs .button input[type=checkbox]:not(:checked):before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	font: 400 21px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f335';
	margin: -3px 0 0 -4px;
	color: #a00;
}

.chosen-container-single .chosen-single {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
}

.chosen-container-active .chosen-single {
	border-color: #999;
	background: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background: #fff;
}

.chosen-container-single .chosen-drop {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.chosen-container-multi .chosen-choices {
	background: #fff;
	color: #333;
	padding: 3px 0;
	border-color: #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	line-height: 2;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	color: #a9a9a9;
}

.chosen-container-multi .chosen-choices li.search-choice {
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	-webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
	vertical-align: top;
}

.chosen-container-multi .chosen-choices li.search-choice:hover {
	background: #fafafa;
	border-color: #999;
	color: #222;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	transition: none;
	-webkit-transition: none;
}

@media only screen and (max-width: 768px) {

	.form-field .sp-location-picker {
		width: 99%;
	}
	.form-field td .sp-location-picker {
		width: 100%;
	}

}