/* SportsPress menu styles */
@font-face {
	font-family: 'sportspress';
	src:url('../fonts/sportspress.eot?ofuus8');
	src:url('../fonts/sportspress.eot?#iefixofuus8') format('embedded-opentype'),
		url('../fonts/sportspress.woff?ofuus8') format('woff'),
		url('../fonts/sportspress.ttf?ofuus8') format('truetype'),
		url('../fonts/sportspress.svg?ofuus8#sportspress') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sp-icon-"], [class*=" sp-icon-"] {
	font-family: 'sportspress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sp-icon-sportspress:before {
	content: "\f111";
}
.sp-icon-calendar:before {
	content: "\f145";
}
.sp-icon-shield:before {
	content: "\f334";
}
.sp-icon-clock:before {
	content: "\f469";
}
.sp-icon-clipboard:before {
	content: "\f481";
}
.sp-icon-whistle:before {
	content: "\f227";
}
.sp-icon-tshirt:before {
	content: "\f307";
}
.sp-icon-megaphone:before {
	content: "\f488";
}
.sp-icon-crown:before {
	content: "\f313";
}
.sp-icon-trophy:before {
	content: "\f325";
}
.sp-icon-list:before {
	content: "\f163"
}
.sp-icon-blocks:before {
	content: "\f164"
}
.sp-icon-smile:before {
	content: "\f328";
}

#adminmenu #toplevel_page_sportspress .menu-icon-generic div.wp-menu-image:before,
#adminmenu #menu-posts-sp_event .menu-icon-sp_event div.wp-menu-image:before,
#adminmenu #menu-posts-sp_team .menu-icon-sp_team div.wp-menu-image:before,
#adminmenu #menu-posts-sp_player .menu-icon-sp_player div.wp-menu-image:before,
#sp_formatdiv #post-formats-select .post-format-icon:before {
	font-family: sportspress, dashicons !important;
	width: 20px;
	text-align: center;
}

.wp-media-buttons .add_sportspress span.wp-media-buttons-icon:before {
	font: normal 20px/1 sportspress, dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: '\f111';
}

i.mce-i-sp_shortcodes_button:before, span.mce_sp_shortcodes_button:before {
	font-family: 'sportspress';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-align: center;
	content: "\f111";
	font-size: 20px;
}