/* SportsPress Templates */

.sp-template,
.sp-data-table {
    font-family: "Roboto", "Helvetica", sans-serif !important;
}

.sp-template {
    overflow: hidden !important;
    margin-bottom: 20px !important;
}

.sp-data-table {
    margin: 0 !important;
}

.sp-template *,
.sp-data-table * {
    text-transform: none !important;
    letter-spacing: normal !important;
}

/* Headings */

.sp-table-caption {
    margin: 0 !important;
    padding: 15px !important;
    background: #fff !important;
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    display: table !important;
    width: 100% !important;
}

/* Links */

.sp-template a,
.sp-data-table a {
    box-shadow: none !important;
    text-decoration: none !important;
    color: #00a69c !important;
}

.sp-template a:hover,
.sp-data-table a:hover {
    text-decoration: underline !important;
}

.sp-view-all-link {
    padding: 10px 15px !important;
    margin: 0 !important;
    background: #fff !important;
    border: 1px solid #e5e5e5 !important;
    border-top: none !important;
    overflow: hidden !important;
    display: table !important;
    width: 100% !important;
    text-align: right !important;
}

.sp-view-all-link a {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    color: #999 !important;
}

.sp-view-all-link a:hover {
    color: #333 !important;
    text-decoration: none !important;
}

.sp-form-event-link:hover {
    text-decoration: none !important;
}

/* Images */

.sp-template img {
    box-shadow: none !important;
}

/* Tables */

.sp-data-table {
    color: #333 !important;
    background: #fff !important;
    border-collapse: collapse !important;
    border: 1px solid #e5e5e5 !important;
    width: 100% !important;
}

.sp-data-table th,
.sp-data-table td {
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border: 1px solid #e5e5e5 !important;
    padding: 5px 10px !important;
    text-align: center !important;
}

.sp-data-table th {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #999 !important;
    border: none !important;
}

.sp-data-table th a {
    color: inherit !important;
}

.sp-data-table .data-name {
    text-align: left !important;
}

.sp-data-table .sp-highlight,
.sp-data-table .highlighted td {
    font-weight: 500 !important;
    background: #f9f9f9 !important;
}

/* Galleries */

.sp-template-gallery .sp-gallery-wrapper {
    border: 1px solid #e5e5e5 !important;
    display: table;
    width: 100% !important;
}

.sp-template-gallery .gallery-item {
    padding: 0 !important;
    margin: 0 !important;
    position: relative !important;
}

.sp-template-gallery .gallery-item a {
    display: block !important;
    color: #999 !important;
}

.sp-template-gallery .gallery-caption {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-align: center !important;
    color: #999 !important;
    line-height: 1.5 !important;
    padding: 5px 10px !important;
}

.sp-template-gallery .gallery-caption strong {
    color: #fff !important;
    background: #00a69c !important;
    display: block !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    padding: 5px 10px !important;
}

.sp-template-gallery .sp-gallery-group-name {
    margin: 0 !important;
    padding: 15px !important;
    background: #fff !important;
    border-bottom: 1px solid #e5e5e5 !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    display: block !important;
}

/* Countdowns */

.sp-template-countdown .sp-event-name,
.sp-template-countdown .sp-event-venue,
.sp-template-countdown .sp-event-league {
    margin: 0 !important;
    padding: 5px 10px !important;
    text-align: center !important;
    line-height: 1.5 !important;
    display: table !important;
    width: 100% !important;
    border: 1px solid #e5e5e5 !important;
    border-bottom: none !important;
}

.sp-template-countdown .sp-event-name {
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #333 !important;
}

.sp-template-countdown .sp-event-venue,
.sp-template-countdown .sp-event-league {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #999 !important;
}

.sp-template-countdown .sp-event-venue a,
.sp-template-countdown .sp-event-league a {
    color: inherit !important;
}

.sp-countdown time {
    display: table !important;
    border: 1px solid #e5e5e5 !important;
    border-collapse: collapse !important;
    width: 100% !important;
}

.sp-countdown span {
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    display: table-cell !important;
    border: 1px solid #e5e5e5 !important;
    padding: 10px 5px !important;
    text-align: center !important;
}

.sp-countdown span small {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    font-weight: 500 !important;
    color: #999 !important;
    display: block !important;
}

/* Event Calendars */

.sp-template-event-calendar .sp-table-caption {
    display: table-caption !important;
}

.sp-template-event-calendar td {
    padding: 10px 5px !important;
}

.sp-template-event-calendar tfoot td {
    padding: 10px 15px !important;
    border: none !important;
}

.sp-template-event-calendar .sp-previous-month {
    text-align: left !important;
}

.sp-template-event-calendar .sp-next-month {
    text-align: right !important;
}

.sp-template-event-calendar tfoot a {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    text-decoration: none !important;
    color: #999 !important;
}

.sp-template-event-calendar tfoot a:hover {
    color: #333 !important;
    text-decoration: none !important;
}

/* Event Blocks */

.sp-template-event-blocks td {
    padding: 0 !important;
}

.sp-template-event-blocks .sp-event-date {
    color: #999 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

.sp-template-event-blocks .sp-event-date a {
    color: inherit !important;
}

.sp-template-event-blocks .sp-event-results {
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #333 !important;
}

.sp-template-event-blocks .sp-event-results a {
    color: inherit !important;
}

.sp-template-event-blocks .sp-event-results a:hover {
    text-decoration: none !important;
}

.sp-template-event-blocks .sp-event-title,
.sp-template-event-blocks .sp-event-status {
    display: block !important;
    padding: 0 !important;
    margin: 10px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.sp-template-event-logos .sp-team-name,
.sp-template-event-logos .sp-team-result {
    font-size: 20px !important;
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #333 !important;
}

.sp-template-event-logos a:hover {
    text-decoration: none !important;
}

/* Venues */

.sp-event-venue-map-row td {
    padding: 0 !important;
}

.sp-event-venue-map-row .sp-google-map {
    display: block !important;
    margin: 0 !important;
}

/* Teams */

.sp-template-logo {
    float: right !important;
    margin: 0 0 20px 20px !important;
    clear: none !important;
}

/* Profiles */

.sp-template-details dl {
    margin: 0 0 20px !important;
    padding: 15px !important;
    border: 1px solid #e5e5e5 !important;
}

.sp-template-details dt,
.sp-template-details dd {
    margin: 0 !important;
    padding: 0 !important;
}

.sp-template-details dt {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #999 !important;
}

.sp-template-details dd {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #333 !important;
    margin-bottom: 10px !important;
}

.sp-template-details dd:last-child {
    margin-bottom: 0 !important;
}

/* Twitter */

.sp-tweets {
    border: 1px solid #e5e5e5 !important;
    border-top: none !important;
}

/* Tournaments */

.sp-tournament-bracket {
    color: #333 !important;
    background: transparent !important;
    width: 100% !important;
}

.sp-tournament-bracket a,
.sp-tournament-bracket a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.sp-tournament-bracket th {
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #999 !important;
    text-align: center !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.sp-tournament-bracket .sp-team-name {
    font-size: 13px !important;
    font-weight: 400 !important;
    text-align: center !important;
    border: 1px solid #e5e5e5 !important;
}

.sp-tournament-bracket .sp-heading,
.sp-tournament-bracket .sp-heading:hover {
    color: #fff !important;
    background: #00a69c !important;
    border-color: #00a69c !important;
}

.sp-tournament-bracket .sp-team-name:before {
    border-left-color: #e5e5e5 !important;
    border-right-color: #e5e5e5 !important;
    left: -10px !important;
}

.sp-tournament-bracket .sp-team-flip .sp-team-name:before {
    left: auto !important;
    right: -10px !important;
}

.sp-tournament-bracket .sp-event {
    border-color: #e5e5e5 !important;
    border-width: 1px !important;
}

.sp-tournament-bracket .sp-event .sp-event-title {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #999 !important;
    text-align: center !important;
}

.sp-tournament-bracket .sp-event .sp-event-title:hover {
    color: #333 !important;
}

/* Tabs */

.sp-tab-menu {
    display: block !important;
    clear: both !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    list-style: none !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.sp-tab-menu-item {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
}

.sp-tab-menu-item a {
    margin: 0 0 -1px !important;
    padding: 5px 10px;
    border-bottom: 2px solid transparent !important;
    box-shadow: none !important;
}

.sp-tab-menu-item a:hover {
    color: #333 !important;
}

.sp-tab-menu-item-active a,
.sp-tab-menu-item-active a:hover {
    color: #00a69c !important;
    border-bottom-color: #00a69c !important;
}

/* Post Content */

.sp-post-content {
    clear: none;
}

/* Media Queries */

@media screen and (min-width: 601px) {
    .sp-template-event-calendar tbody td {
        padding: 15px 5px !important;
    }

    .widget .sp-template-event-calendar tbody td {
        padding: 10px 5px !important;
    }
}

@media screen and (min-width: 801px) {
    .sp-template-event-calendar tbody td {
        padding: 20px 5px !important;
    }

    .widget .sp-template-event-calendar tbody td {
        padding: 10px 5px !important;
    }
}