/* SportsPress RTL */

/* Thumbnails and Details */
.sp-template-logo,
.sp-template-photo {
	float: right;
	margin-right: 0;
	margin-left: 2em;
}

/* Pagination */
.sp-table-wrapper .dataTables_paginate .previous {
	float: right;
	margin-left: 0.5em;
	margin-right: 0;
}
.sp-table-wrapper .dataTables_paginate .next {
	float: left;
	margin-right: 0.5em;
	margin-left: 0;
}

/* League Table and Player List */
.sp-league-table .data-name .team-logo,
.sp-player-list .data-name .player-photo,
.sp-player-list .data-name .player-flag {
	margin-right: 0;
	margin-left: 0.25em;
	float: right;
}

/* Event Calendar */
.sp-event-calendar #next {
	text-align: left;
}
.sp-event-calendar #prev {
	text-align: right;
}

/* Event List */
.sp-event-list .data-article a .dashicons {
	padding-right: 0;
	padding-left: 3px;
}

/* Event Blocks */
.sp-event-blocks .logo-odd {
	float: right;
}
.sp-event-blocks .logo-even {
	float: left;
}

@media only screen and (max-width: 40em) {
	.sp-pinned-table {
		left: auto;
		right: 0;
	}
}