/* SportsPress RTL */

/* Thumbnails and Details */
.sp-template-logo,
.sp-template-photo {
	float: right;
	margin-right: 0;
	margin-left: 2em;
}

/* Profile selector */
.sp-template-profile-selector {
	text-align: left;
}

/* Data Tables */
.sp-data-table .data-name {
	text-align: right !important;
}

/* Pagination */
.sp-table-wrapper .dataTables_paginate .previous {
	float: right;
	margin-left: 0.5em;
	margin-right: 0;
}
.sp-table-wrapper .dataTables_paginate .next {
	float: left;
	margin-right: 0.5em;
	margin-left: 0;
}

/* League Table and Player List */
.sp-player-list .data-name .player-photo,
.sp-player-list .data-name .player-flag {
	margin-right: 0;
	margin-left: 0.5em;
}

/* Event Performance (Icons) */
.sp-event-performance-teams .sp-template-event-performance-icons {
  float: right;
  clear: right;
  padding-right: 0;
  padding-left: 10px;
}

.sp-event-performance-teams .sp-template-event-performance-icons:nth-child(2n) {
  float: left;
  clear: left;
  padding-left: 0;
  padding-right: 10px;
}

/* Event Calendar */
.sp-event-calendar #next {
	text-align: left;
}
.sp-event-calendar #prev {
	text-align: right;
}

/* Event List */
.sp-event-list .data-article a .dashicons {
	padding-right: 0;
	padding-left: 3px;
}
.sp-event-list .data-home {
	text-align: left;
}
.sp-event-list .data-away {
	text-align: right;
}
.sp-event-list .data-home img {
	float: left;
	margin-left: 0;
	margin-right: 8px;
}
.sp-event-list .data-away img {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}

/* Event Blocks */
.sp-event-blocks .logo-odd {
	float: right;
}
.sp-event-blocks .logo-even {
	float: left;
}

@media only screen and (min-width: 601px) {
	.sp-template-logo + .sp-post-content {
		clear: right;
	}
}
