@font-face {
	font-family: 'themeboy';
	src:url('../fonts/themeboy.eot');
	src:url('../fonts/themeboy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/themeboy.woff') format('woff'),
		url('../fonts/themeboy.ttf') format('truetype'),
		url('../fonts/themeboy.svg#themeboy') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'themeboy';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-themeboy:before {
	content: "\e600";
}
.icon-themeboy-alt:before {
	content: "\e601";
}
