.sp-tournament-bracket {
	border-width: 1px;
    border-spacing: 0;
	border-collapse: separate !important;
}

.sp-tournament-bracket th,
.sp-tournament-bracket td {
	text-align: center;
	vertical-align: middle;
}

.sp-tournament-bracket td {
	border: none;
}

.sp-tournament-bracket a {
	text-decoration: none !important;
}

.sp-tournament-bracket img {
	vertical-align: middle;
}

.sp-tournament-bracket tr:first-child td {
	padding-top: 20px !important;
}

.sp-tournament-bracket tr:last-child td {
	padding-bottom: 20px !important;
}

.sp-tournament-bracket .sp-event,
.sp-tournament-bracket .sp-team {
	padding: 0 !important;
}

.sp-tournament-bracket .sp-event .sp-event-title {
	padding: 30px 8px;
	display: block;
	font-weight: bold;
}

.sp-tournament-bracket .sp-event .sp-event-main {
	color: #222222 !important;
}

.sp-tournament-bracket .sp-home-team {
	vertical-align: bottom;
}

.sp-tournament-bracket .sp-away-team {
	vertical-align: top;
}

.sp-tournament-bracket .sp-team .sp-team-name {
	position: relative;
	padding: 8px;
	display: block;
}

.sp-tournament-bracket .sp-team span.sp-team-name {
	cursor: default;
}

.sp-tournament-bracket .sp-team .sp-team-name:before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.sp-tournament-bracket .sp-team.sp-first-round .sp-team-name:before {
	border: none;
}

.sp-template-tournament-winner {
	text-align: center;
	margin-bottom: 2em;
}