.sp-tournament-bracket td {
	padding-left: 0;
}

.sp-tournament-bracket .sp-event {
	border-left: 8px solid #fff !important;
}

.sp-tournament-bracket .sp-team {
	padding: 0 8px 0 0 !important;
}

.sp-tournament-bracket .sp-team .sp-team-name:before {
	right: -8px;
	border-right: 5px solid #fff;
}

.sp-tournament-bracket .sp-team.sp-first-round {
	padding-right: 0 !important;
}

.sp-tournament-bracket .sp-event.sp-last-round {
	border-left: 0 !important;
}