table.widefat.sp-data-table .time-column {
	white-space: nowrap;
}

table.widefat.sp-data-table input.sp-time[type="text"] {
	min-width: 0;
	width: auto;
}

table.widefat.sp-data-table input.sp-time-range {
	margin: 0;
	padding: 0;
}